/*

!/src/
!/drawing-conversion-api/
!/timwork-api/
!/timwork-mock-api/
!/common/
!/authentication/
!/construction-base/
!/construct-inspection/
!/gradle
!/.gitignore
!/build.gradle
!/.github/
!/timwork-api/Dockerfile
!/gradle/wrapper/gradle-wrapper.properties
!/gradle/wrapper/gradle-wrapper.jar
!/timwork-api/docker-compose.yml
/**/build