/*

!/src/
!/gradle
!/.gitignore
!/build.gradle
!/.github/
!Dockerfile
!/gradle/wrapper/gradle-wrapper.properties
!/gradle/wrapper/gradle-wrapper.jar
!docker-compose.yml
/**/build
!task-definition.json
/src/main/resources/application-local.yml